//MEDIA QUERY MANAGER
/*
1800px + :      Big desktop
[1200 - 1800] is where our normal styles apply
900 - 1200px:   Tablet landscape
600 - 900px:    Tablet portrait
425 - 600px:      Phone
0 - 425px:        small-phone

$breakpoint arguement choices:
- big-desktop
- tab-land
- tab-port
- phone
- small phone

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 26.5625em) {
      @content;
    }
  } //320px

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } //600px

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } //900px

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } //1200px
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  // font-family: "Lato", sans-serif;
  // font-family: "Orbitron", sans-serif;
}

::selection {
}

html {
  font-size: 62.5%; //1rem=10px; 10/16*100=62.5%

  @include respond(tab-land) {
    // width<1200?
    font-size: 56.25%; //1rem=9px; 9/16*100=56.25%
  }

  @include respond(tab-port) {
    // width<900?
    font-size: 50%; //1rem=8px; 8/16*100=50%
  }
}

body {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  background: #131419;
  overflow: hidden;

  .circle {
    content: "";
    position: absolute;
    top: -30%;
    right: -10%;
    border-radius: 50%;
    width: 60rem;
    height: 60rem;
    background: linear-gradient(#f00, #f0f);

    @include respond(tab-land) {
      top: -35%;
      right: -16%;
    }

    @include respond(small-phone) {
      top: -20%;
      right: -60%;
    }
  }

  .main-section {
    overflow: hidden;
    position: relative;
    min-width: 30rem;
    max-width: 160rem;
    width: 85rem;
    min-height: 100vh;
    margin: 3rem;
    border-radius: 1rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
      5px 5px 10px rgba(0, 0, 0, 0.3);

    @include respond(tab-port) {
      width: auto;
    }

    @include respond(small-phone) {
      margin: 1.5rem;
    }

    .resume {
      height: 100%;

      .header {
        height: 30rem;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
      }

      .profile {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr;
        grid-column: 1 / -1;
        align-items: center;
        margin-bottom: 3rem;
        height: auto;

        @include respond(small-phone) {
          justify-items: center;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(2, 1fr);
          margin-bottom: 2rem;
        }

        .photo {
          padding: 3rem;

          @include respond(small-phone) {
            width: 100%;
            text-align: center;
            padding: 0;
          }

          img {
            width: 100%;

            @include respond(small-phone) {
              width: 20rem;
            }
          }
        }

        .details {
          padding: 3rem;

          @include respond(small-phone) {
            padding: 0;
            text-align: center;
          }

          .my-info {
            margin-bottom: 2rem;

            .name {
              font-size: 3.5rem;
              text-transform: uppercase;
              font-weight: 700;
              font-family: "Lato", sans-serif;
              background-image: linear-gradient(
                90deg,
                #00dbde 0%,
                #fc00ff 100%
              );
              -webkit-background-clip: text;
              color: transparent;
              letter-spacing: 2px;
            }
          }

          .degree {
            font-size: 1.8rem;
            padding: 0 0.5rem;
            background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
            text-transform: capitalize;
          }

          .email,
          .phone,
          .location {
            @include respond(small-phone) {
              padding-bottom: 0.5rem;
            }
          }

          .email a,
          .phone a,
          .location {
            font-family: "Lato", sans-serif;
            letter-spacing: 1px;
            text-decoration: none;
            color: #fff;
            text-transform: capitalize;
            font-size: 1.6rem;
          }
        }
      }

      .main-content {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 50%);

        @include respond(small-phone) {
          grid-template-columns: 1fr;
        }

        .left-block,
        .right-block {
          border-radius: 1rem;
          min-height: 40rem;
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05),
            inset 2px 2px 6px rgba(0, 0, 0, 0.5);
        }

        .left-block {
          margin: 0 0.5rem 2.5rem 1rem;

          @include respond(small-phone) {
            margin: 1rem;
          }
        }

        .right-block {
          margin: 0 1rem 2.5rem 0.5rem;

          @include respond(small-phone) {
            margin: 1rem;
            margin-top: 0;
          }
        }

        .card {
          position: relative;
          margin: 1.5rem;
          border-radius: 1rem;
          min-height: 20rem;
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
            5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        .content {
          padding: 1.5rem;

          h1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 1rem 2rem;
            text-transform: uppercase;
            text-align: end;
            font-size: 2.8rem;
            background-color: #8ec5fc;
            background-color: #ffe53b;
            background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: 2px;
            font-family: "Lato", sans-serif;
          }

          .skills {
            margin-top: 5rem;

            .skill-list {
              padding-left: 1.5rem;
              color: #fff;
              font-size: 1.2rem;
              text-transform: capitalize;
              letter-spacing: 2px;
              font-family: "Lato", sans-serif;
            }
          }

          .education {
            margin-top: 5rem;

            .edu-details {
              span {
                font-size: 1.8rem;
                padding: 0 0.5rem;
                background-image: linear-gradient(
                  90deg,
                  #00dbde 0%,
                  #fc00ff 100%
                );
                text-transform: capitalize;
              }

              h3 {
                color: #fff;
                font-size: 1.6rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
                text-transform: capitalize;
              }
              p {
                color: #fff;
                font-size: 1.2rem;
                margin-top: 0.5rem;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
                text-transform: capitalize;
              }
            }
          }

          .projects {
            margin-top: 5rem;

            .project-details {
              &:last-child {
                margin-top: 4.5rem;
              }

              span {
                font-size: 1.8rem;
                padding: 0 0.5rem;
                background-image: linear-gradient(
                  90deg,
                  #00dbde 0%,
                  #fc00ff 100%
                );
                text-transform: capitalize;

                &.project-short-des {
                  background-image: none;
                  color: #fff;
                  font-size: 1.4rem;
                  padding: 0;
                  line-height: 3rem;
                  letter-spacing: 2px;
                  font-family: "Lato", sans-serif;
                  text-transform: capitalize;
                }
              }

              .project-des {
                margin-top: 1rem;
                padding-left: 1.5rem;
                color: #fff;
                font-size: 1.2rem;
                text-transform: capitalize;
                text-align: justify;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
              }
            }
          }

          .work {
            margin-top: 5rem;

            @include respond(small-phone) {
              margin-top: 7rem;
            }

            .work-details {
              span {
                font-size: 1.8rem;
                padding: 0 0.5rem;
                background-image: linear-gradient(
                  90deg,
                  #00dbde 0%,
                  #fc00ff 100%
                );
                text-transform: capitalize;

                &.work-dates {
                  background-image: none;
                  color: #fff;
                  font-size: 1.2rem;
                  line-height: 3rem;
                  letter-spacing: 2px;
                  font-family: "Lato", sans-serif;
                  text-transform: capitalize;
                }
              }

              a {
                text-decoration: none;
                color: #fff;
                font-size: 1.4rem;
                line-height: 3rem;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
                text-transform: capitalize;
              }
            }

            .work-des {
              margin-top: 1.5rem;

              .work-task {
                color: #fff;
                font-size: 1.4rem;
                line-height: 3rem;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
                text-transform: capitalize;
              }

              ul {
                margin-top: 1rem;
                padding-left: 1.5rem;
                color: #fff;
                font-size: 1.2rem;
                text-transform: capitalize;
                text-align: justify;
                letter-spacing: 2px;
                font-family: "Lato", sans-serif;
              }
            }
          }

          .certificates {
            margin-top: 4.5rem;

            .certificate-list {
              &:last-child {
                margin-top: 4.5rem;
              }

              span {
                font-size: 1.8rem;
                padding: 0 0.5rem;
                background-image: linear-gradient(
                  90deg,
                  #00dbde 0%,
                  #fc00ff 100%
                );
                text-transform: capitalize;

                &.certificate-des {
                  background-image: none;
                  color: #fff;
                  padding: 0;
                  font-size: 1.2rem;
                  letter-spacing: 2px;
                  font-family: "Lato", sans-serif;
                }
              }

              .certificate-info {
                margin-top: 1.5rem;
                font-size: 1.2rem;
                letter-spacing: 2px;
                color: #fff;
                font-family: "Lato", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}
