/*
1800px + :      Big desktop
[1200 - 1800] is where our normal styles apply
900 - 1200px:   Tablet landscape
600 - 900px:    Tablet portrait
425 - 600px:      Phone
0 - 425px:        small-phone

$breakpoint arguement choices:
- big-desktop
- tab-land
- tab-port
- phone
- small phone

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #131419;
  overflow: hidden;
}

.container .circle {
  content: "";
  position: absolute;
  top: -30%;
  right: -10%;
  border-radius: 50%;
  width: 60rem;
  height: 60rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#f0f));
  background: linear-gradient(#f00, #f0f);
}

@media only screen and (max-width: 75em) {
  .container .circle {
    top: -35%;
    right: -16%;
  }
}

@media only screen and (max-width: 26.5625em) {
  .container .circle {
    top: -20%;
    right: -60%;
  }
}

.container .main-section {
  overflow: hidden;
  position: relative;
  min-width: 30rem;
  max-width: 160rem;
  width: 85rem;
  min-height: 100vh;
  margin: 3rem;
  border-radius: 1rem;
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 56.25em) {
  .container .main-section {
    width: auto;
  }
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section {
    margin: 1.5rem;
  }
}

.container .main-section .resume {
  height: 100%;
}

.container .main-section .resume .header {
  height: 30rem;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

.container .main-section .resume .profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  height: auto;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .profile {
    justify-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2rem;
  }
}

.container .main-section .resume .profile .photo {
  padding: 3rem;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .profile .photo {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.container .main-section .resume .profile .photo img {
  width: 100%;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .profile .photo img {
    width: 20rem;
  }
}

.container .main-section .resume .profile .details {
  padding: 3rem;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .profile .details {
    padding: 0;
    text-align: center;
  }
}

.container .main-section .resume .profile .details .my-info {
  margin-bottom: 2rem;
}

.container .main-section .resume .profile .details .my-info .name {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
}

.container .main-section .resume .profile .details .degree {
  font-size: 1.8rem;
  padding: 0 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-transform: capitalize;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .profile .details .email,
  .container .main-section .resume .profile .details .phone,
  .container .main-section .resume .profile .details .location {
    padding-bottom: 0.5rem;
  }
}

.container .main-section .resume .profile .details .email a,
.container .main-section .resume .profile .details .phone a,
.container .main-section .resume .profile .details .location {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.container .main-section .resume .main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .main-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container .main-section .resume .main-content .left-block,
.container .main-section .resume .main-content .right-block {
  border-radius: 1rem;
  min-height: 40rem;
  -webkit-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.05), inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.container .main-section .resume .main-content .left-block {
  margin: 0 0.5rem 2.5rem 1rem;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .main-content .left-block {
    margin: 1rem;
  }
}

.container .main-section .resume .main-content .right-block {
  margin: 0 1rem 2.5rem 0.5rem;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .main-content .right-block {
    margin: 1rem;
    margin-top: 0;
  }
}

.container .main-section .resume .main-content .card {
  position: relative;
  margin: 1.5rem;
  border-radius: 1rem;
  min-height: 20rem;
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.container .main-section .resume .main-content .content {
  padding: 1.5rem;
}

.container .main-section .resume .main-content .content h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-align: end;
  font-size: 2.8rem;
  background-color: #8ec5fc;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

.container .main-section .resume .main-content .content .skills {
  margin-top: 5rem;
}

.container .main-section .resume .main-content .content .skills .skill-list {
  padding-left: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

.container .main-section .resume .main-content .content .education {
  margin-top: 5rem;
}

.container .main-section .resume .main-content .content .education .edu-details span {
  font-size: 1.8rem;
  padding: 0 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .education .edu-details h3 {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .education .edu-details p {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .projects {
  margin-top: 5rem;
}

.container .main-section .resume .main-content .content .projects .project-details:last-child {
  margin-top: 4.5rem;
}

.container .main-section .resume .main-content .content .projects .project-details span {
  font-size: 1.8rem;
  padding: 0 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .projects .project-details span.project-short-des {
  background-image: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0;
  line-height: 3rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .projects .project-details .project-des {
  margin-top: 1rem;
  padding-left: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: justify;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

.container .main-section .resume .main-content .content .work {
  margin-top: 5rem;
}

@media only screen and (max-width: 26.5625em) {
  .container .main-section .resume .main-content .content .work {
    margin-top: 7rem;
  }
}

.container .main-section .resume .main-content .content .work .work-details span {
  font-size: 1.8rem;
  padding: 0 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .work .work-details span.work-dates {
  background-image: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .work .work-details a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .work .work-des {
  margin-top: 1.5rem;
}

.container .main-section .resume .main-content .content .work .work-des .work-task {
  color: #fff;
  font-size: 1.4rem;
  line-height: 3rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .work .work-des ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: justify;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

.container .main-section .resume .main-content .content .certificates {
  margin-top: 4.5rem;
}

.container .main-section .resume .main-content .content .certificates .certificate-list:last-child {
  margin-top: 4.5rem;
}

.container .main-section .resume .main-content .content .certificates .certificate-list span {
  font-size: 1.8rem;
  padding: 0 0.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00dbde), to(#fc00ff));
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  text-transform: capitalize;
}

.container .main-section .resume .main-content .content .certificates .certificate-list span.certificate-des {
  background-image: none;
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

.container .main-section .resume .main-content .content .certificates .certificate-list .certificate-info {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=style.css.map */